body {
    font-family: sans-serif;
    margin: 0;
}

img{
    max-width: 100%;
}


.main-contents{
   padding: 40px 0;
}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}